In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import glob
import os

In [2]:
csv_files_path = r'c:\Users\eswaav\Documents\Datasets\Formula1\*.csv'
csv_files = glob.glob(csv_files_path)

In [101]:
default = "df_"
for csv_file in csv_files:
    filename = os.path.basename(csv_file).split('.')[0]
    globals()[default + filename] = pd.read_csv(csv_file)
    print(csv_file)

c:\Users\eswaav\Documents\Datasets\Formula1\circuits.csv
c:\Users\eswaav\Documents\Datasets\Formula1\constructors.csv
c:\Users\eswaav\Documents\Datasets\Formula1\constructor_results.csv
c:\Users\eswaav\Documents\Datasets\Formula1\constructor_standings.csv
c:\Users\eswaav\Documents\Datasets\Formula1\drivers.csv
c:\Users\eswaav\Documents\Datasets\Formula1\driver_standings.csv
c:\Users\eswaav\Documents\Datasets\Formula1\lap_times.csv
c:\Users\eswaav\Documents\Datasets\Formula1\pit_stops.csv
c:\Users\eswaav\Documents\Datasets\Formula1\qualifying.csv
c:\Users\eswaav\Documents\Datasets\Formula1\races.csv
c:\Users\eswaav\Documents\Datasets\Formula1\results.csv
c:\Users\eswaav\Documents\Datasets\Formula1\seasons.csv
c:\Users\eswaav\Documents\Datasets\Formula1\sprint_results.csv
c:\Users\eswaav\Documents\Datasets\Formula1\status.csv

In [10]:
for name,obj in globals().items():
    if name.startswith('df_'):
        print(name)

df_circuits
df_constructors
df_constructor_results
df_constructor_standings
df_drivers
df_driver_standings
df_lap_times
df_pit_stops
df_qualifying
df_races
df_results
df_seasons
df_sprint_results
df_status

In [103]:
df_circuits.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
circuitId,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
circuitRef,albert_park,sepang,bahrain,catalunya,istanbul,monaco,villeneuve,magny_cours,silverstone,hockenheimring,hungaroring,valencia,spa,monza,marina_bay,fuji,shanghai,interlagos,indianapolis,nurburgring
name,Albert Park Grand Prix Circuit,Sepang International Circuit,Bahrain International Circuit,Circuit de Barcelona-Catalunya,Istanbul Park,Circuit de Monaco,Circuit Gilles Villeneuve,Circuit de Nevers Magny-Cours,Silverstone Circuit,Hockenheimring,Hungaroring,Valencia Street Circuit,Circuit de Spa-Francorchamps,Autodromo Nazionale di Monza,Marina Bay Street Circuit,Fuji Speedway,Shanghai International Circuit,Autódromo José Carlos Pace,Indianapolis Motor Speedway,Nürburgring
location,Melbourne,Kuala Lumpur,Sakhir,Montmeló,Istanbul,Monte-Carlo,Montreal,Magny Cours,Silverstone,Hockenheim,Budapest,Valencia,Spa,Monza,Marina Bay,Oyama,Shanghai,São Paulo,Indianapolis,Nürburg
country,Australia,Malaysia,Bahrain,Spain,Turkey,Monaco,Canada,France,UK,Germany,Hungary,Spain,Belgium,Italy,Singapore,Japan,China,Brazil,USA,Germany
lat,-37.8497,2.76083,26.0325,41.57,40.9517,43.7347,45.5,46.8642,52.0786,49.3278,47.5789,39.4589,50.4372,45.6156,1.2914,35.3717,31.3389,-23.7036,39.795,50.3356
lng,144.968,101.738,50.5106,2.26111,29.405,7.42056,-73.5228,3.16361,-1.01694,8.56583,19.2486,-0.331667,5.97139,9.28111,103.864,138.927,121.22,-46.6997,-86.2347,6.9475
alt,10,18,7,109,130,7,13,228,153,103,264,4,401,162,18,583,5,785,223,578
url,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,http://en.wikipedia.org/wiki/Sepang_Internatio...,http://en.wikipedia.org/wiki/Bahrain_Internati...,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,http://en.wikipedia.org/wiki/Istanbul_Park,http://en.wikipedia.org/wiki/Circuit_de_Monaco,http://en.wikipedia.org/wiki/Circuit_Gilles_Vi...,http://en.wikipedia.org/wiki/Circuit_de_Nevers...,http://en.wikipedia.org/wiki/Silverstone_Circuit,http://en.wikipedia.org/wiki/Hockenheimring,http://en.wikipedia.org/wiki/Hungaroring,http://en.wikipedia.org/wiki/Valencia_Street_C...,http://en.wikipedia.org/wiki/Circuit_de_Spa-Fr...,http://en.wikipedia.org/wiki/Autodromo_Naziona...,http://en.wikipedia.org/wiki/Marina_Bay_Street...,http://en.wikipedia.org/wiki/Fuji_Speedway,http://en.wikipedia.org/wiki/Shanghai_Internat...,http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jo...,http://en.wikipedia.org/wiki/Indianapolis_Moto...,http://en.wikipedia.org/wiki/N%C3%BCrburgring

In [14]:
df_constructors.head(2).T

,0,1
constructorId,1,2
constructorRef,mclaren,bmw_sauber
name,McLaren,BMW Sauber
nationality,British,German
url,http://en.wikipedia.org/wiki/McLaren,http://en.wikipedia.org/wiki/BMW_Sauber

In [78]:
df_constructor_results.head(10000).T

,0,1,2,3,4,5,6,7,8,9,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
constructorResultsId,1,2,3,4,5,6,7,8,9,10,...,14488,14489,14490,14491,14492,14493,14494,14495,14496,14497
raceId,18,18,18,18,18,18,18,18,18,18,...,871,871,871,871,871,871,871,871,871,871
constructorId,1,2,3,4,5,6,7,8,9,10,...,9,208,10,6,131,5,3,15,207,206
points,14.0,8.0,9.0,5.0,2.0,1.0,0.0,0.0,0.0,0.0,...,26.0,15.0,13.0,10.0,6.0,6.0,0.0,0.0,0.0,0.0
status,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [108]:
df_constructor_results[(df_constructor_results['constructorId'] == 1) & ((df_constructor_results.raceId >= 18) & (df_constructor_results.raceId <=35))]

     constructorResultsId  raceId  constructorId  points status
0                       1      18              1    14.0     \N
13                     14      19              1    10.0     \N
24                     25      20              1     4.0     \N
34                     35      21              1     6.0     \N
45                     46      22              1     8.0     \N
54                     55      23              1    11.0     \N
70                     71      24              1     0.0     \N
76                     77      25              1     5.0     \N
84                     85      26              1    14.0     \N
94                     95      27              1    14.0     \N
104                   105      28              1    14.0     \N
115                   116      29              1    13.0     \N
126                   127      30              1     6.0     \N
135                   136      31              1    10.0     \N
146                   147      32              1     6.0     \N
161                   162      33              1     0.0     \N
164                   165      34              1    10.0     \N
177                   178      35              1     6.0     \N

In [109]:
df_constructor_standings[(df_constructor_standings['constructorId'] == 1) & ((df_constructor_standings.raceId >= 18) & (df_constructor_standings.raceId <=35))]

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
6,7,19,1,24.0,1,1,1
17,18,20,1,28.0,3,3,1
28,29,21,1,34.0,3,3,1
39,40,22,1,42.0,3,3,1
50,51,23,1,53.0,2,2,2
61,62,24,1,53.0,3,3,2
72,73,25,1,58.0,3,3,2
83,84,26,1,72.0,3,3,3
94,95,27,1,86.0,3,3,4
105,106,28,1,100.0,2,2,5
116,117,29,1,113.0,2,2,5
127,128,30,1,119.0,2,2,5
138,139,31,1,129.0,2,2,5
149,150,32,1,135.0,1,1,5
160,161,33,1,135.0,2,2,5
181,1633,34,1,145.0,2,2,6
182,183,35,1,151.0,2,2,6

In [105]:
df_constructor_standings.head(100).T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
constructorStandingsId,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
raceId,18,18,18,18,18,18,19,19,19,19,...,26,26,26,26,27,27,27,27,27,27
constructorId,1,2,3,4,5,6,1,2,3,4,...,9,11,10,8,1,2,3,4,5,6
points,14.0,8.0,9.0,5.0,2.0,1.0,24.0,19.0,9.0,6.0,...,24.0,14.0,0.0,0.0,86.0,89.0,16.0,23.0,8.0,105.0
position,1,3,2,4,5,6,1,2,4,5,...,5,8,10,11,3,2,7,6,9,1
positionText,1,3,2,4,5,6,1,2,4,5,...,5,8,10,11,3,2,7,6,9,1
wins,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,4,1,0,0,0,5

In [21]:
df_drivers.head(2).T

,0,1
driverId,1,2
driverRef,hamilton,heidfeld
number,44,\N
code,HAM,HEI
forename,Lewis,Nick
surname,Hamilton,Heidfeld
dob,1985-01-07,1977-05-10
nationality,British,German
url,http://en.wikipedia.org/wiki/Lewis_Hamilton,http://en.wikipedia.org/wiki/Nick_Heidfeld

In [86]:
df_drivers[df_drivers.driverId == 1]

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton

In [48]:
df_driver_standings.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
driverStandingsId,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
raceId,18,18,18,18,18,18,18,18,19,19,19,19,19,19,19,19,19,19,19,19
driverId,1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8,9,15,17,14
points,10.0,8.0,6.0,5.0,4.0,3.0,2.0,1.0,14.0,11.0,6.0,6.0,10.0,3.0,2.0,11.0,8.0,5.0,2.0,0.0
position,1,2,3,4,5,6,7,8,1,3,6,7,4,9,10,2,5,8,11,12
positionText,1,2,3,4,5,6,7,8,1,3,6,7,4,9,10,2,5,8,11,12
wins,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0

In [85]:
df_driver_standings[df_driver_standings.driverId == 1].head(20)

      driverStandingsId  raceId  driverId  points position positionText  wins
0                     1      18         1    10.0        1            1     1
8                     9      19         1    14.0        1            1     1
26                   27      20         1    14.0        3            3     1
47                   48      21         1    20.0        2            2     1
68                   69      22         1    28.0        3            3     1
90                   91      23         1    38.0        1            1     2
112                 113      24         1    38.0        2            2     2
134                 135      25         1    38.0        4            4     2
156                 157      26         1    48.0        1            1     3
178                 179      27         1    58.0        1            1     4
200                 201      28         1    62.0        1            1     4
222                 223      29         1    70.0        1            1     4
244                 245      30         1    76.0        1            1     4
266                 267      31         1    78.0        1            1     4
288                 289      32         1    84.0        1            1     4
310                 311      33         1    84.0        1            1     4
353                3438      34         1    94.0        1            1     5
354                 355      35         1    98.0        1            1     5
421               13652      38         1    22.0        3            3     0
6408              68157     969         1    18.0        2            2     0

In [47]:
df_driver_standings[df_driver_standings['driverId'] == 1].T

,0,8,26,47,68,90,112,134,156,178,...,33926,33946,33966,33986,34006,34035,34057,34066,34086,34107
driverStandingsId,1,9,27,48,69,91,113,135,157,179,...,71910,71930,71950,71970,72030,72070,72110,72130,72150,72171
raceId,18,19,20,21,22,23,24,25,26,27,...,1100,1101,1102,1104,1105,1106,1107,1108,1109,1110
driverId,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
points,10.0,14.0,14.0,20.0,28.0,38.0,38.0,38.0,48.0,58.0,...,38.0,48.0,56.0,69.0,87.0,102.0,106.0,121.0,133.0,148.0
position,1,1,3,2,3,1,2,4,1,1,...,4,4,4,4,4,4,4,4,4,4
positionText,1,1,3,2,3,1,2,4,1,1,...,4,4,4,4,4,4,4,4,4,4
wins,1,1,1,1,1,2,2,2,3,4,...,0,0,0,0,0,0,0,0,0,0

In [80]:
df_lap_times.head(100).T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
raceId,841,841,841,841,841,841,841,841,841,841,...,841,841,841,841,841,841,841,841,841,841
driverId,20,20,20,20,20,20,20,20,20,20,...,1,1,1,1,1,1,1,1,1,1
lap,1,2,3,4,5,6,7,8,9,10,...,33,34,35,36,37,38,39,40,41,42
position,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,2
time,1:38.109,1:33.006,1:32.713,1:32.803,1:32.342,1:32.605,1:32.502,1:32.537,1:33.240,1:32.572,...,1:32.133,1:32.016,1:32.427,1:53.298,1:39.548,1:31.013,1:30.338,1:31.200,1:30.314,1:30.421
milliseconds,98109,93006,92713,92803,92342,92605,92502,92537,93240,92572,...,92133,92016,92427,113298,99548,91013,90338,91200,90314,90421

In [102]:
df_pit_stops.head(2100).T

,0,1,2,3,4,5,6,7,8,9,...,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099
raceId,841,841,841,841,841,841,841,841,841,841,...,880,880,880,880,880,880,880,880,880,880
driverId,153,30,17,4,13,22,20,814,816,67,...,818,822,821,824,817,1,814,8,819,823
stop,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,3
lap,1,1,11,12,13,13,14,14,14,15,...,24,24,27,27,30,31,33,34,33,34
time,17:05:23,17:05:52,17:20:48,17:22:34,17:24:10,17:24:29,17:25:17,17:26:03,17:26:50,17:27:34,...,17:41:44,17:42:08,17:46:47,17:47:07,17:51:27,17:52:21,17:55:48,17:56:41,17:57:12,17:59:22
duration,26.898,25.021,23.426,23.251,23.842,23.643,22.603,24.863,25.259,25.342,...,24.688,23.215,22.315,23.387,24.177,22.015,23.051,22.181,23.509,23.917
milliseconds,26898,25021,23426,23251,23842,23643,22603,24863,25259,25342,...,24688,23215,22315,23387,24177,22015,23051,22181,23509,23917

In [79]:
df_qualifying.head(100).T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
qualifyId,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
raceId,18,18,18,18,18,18,18,18,18,18,...,22,22,22,22,22,22,22,22,22,22
driverId,1,9,5,13,2,15,3,14,10,20,...,1,8,9,17,4,15,2,14,3,22
constructorId,1,2,1,6,2,7,3,9,7,5,...,1,6,2,9,4,7,2,9,3,11
number,22,4,23,2,3,11,7,9,12,15,...,22,1,4,10,5,11,3,9,7,17
position,1,2,3,4,5,6,7,8,9,10,...,3,4,5,6,7,8,9,10,11,12
q1,1:26.572,1:26.103,1:25.664,1:25.994,1:25.960,1:26.427,1:26.295,1:26.381,1:26.919,1:26.702,...,1:26.192,1:26.457,1:26.761,1:26.773,1:26.836,1:26.695,1:27.107,1:26.939,1:27.367,1:27.355
q2,1:25.187,1:25.315,1:25.452,1:25.691,1:25.518,1:26.101,1:26.059,1:26.063,1:26.164,1:25.842,...,1:26.477,1:26.050,1:26.129,1:26.466,1:26.522,1:26.822,1:27.607,1:26.520,1:27.012,1:27.219
q3,1:26.714,1:26.869,1:27.079,1:27.178,1:27.236,1:28.527,1:28.687,1:29.041,1:29.593,\N,...,1:27.923,1:27.936,1:28.390,1:28.417,1:28.422,1:28.836,1:28.882,1:29.959,\N,\N

In [73]:
df_races.head(100)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,2004,7,20,European Grand Prix,2004-05-30,\N,http://en.wikipedia.org/wiki/2004_European_Gra...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
96,97,2004,8,7,Canadian Grand Prix,2004-06-13,\N,http://en.wikipedia.org/wiki/2004_Canadian_Gra...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
97,98,2004,9,19,United States Grand Prix,2004-06-20,\N,http://en.wikipedia.org/wiki/2004_United_State...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
98,99,2004,10,8,French Grand Prix,2004-07-04,\N,http://en.wikipedia.org/wiki/2004_French_Grand...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
99,100,2004,11,9,British Grand Prix,2004-07-11,\N,http://en.wikipedia.org/wiki/2004_British_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [97]:
df_races[(df_races.raceId >= 18)].head(20)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
17,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
18,19,2008,2,2,Malaysian Grand Prix,2008-03-23,07:00:00,http://en.wikipedia.org/wiki/2008_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
19,20,2008,3,3,Bahrain Grand Prix,2008-04-06,11:30:00,http://en.wikipedia.org/wiki/2008_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
20,21,2008,4,4,Spanish Grand Prix,2008-04-27,12:00:00,http://en.wikipedia.org/wiki/2008_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
21,22,2008,5,5,Turkish Grand Prix,2008-05-11,12:00:00,http://en.wikipedia.org/wiki/2008_Turkish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
22,23,2008,6,6,Monaco Grand Prix,2008-05-25,12:00:00,http://en.wikipedia.org/wiki/2008_Monaco_Grand...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
23,24,2008,7,7,Canadian Grand Prix,2008-06-08,17:00:00,http://en.wikipedia.org/wiki/2008_Canadian_Gra...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
24,25,2008,8,8,French Grand Prix,2008-06-22,12:00:00,http://en.wikipedia.org/wiki/2008_French_Grand...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
25,26,2008,9,9,British Grand Prix,2008-07-06,12:00:00,http://en.wikipedia.org/wiki/2008_British_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
26,27,2008,10,10,German Grand Prix,2008-07-20,12:00:00,http://en.wikipedia.org/wiki/2008_German_Grand...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
27,28,2008,11,11,Hungarian Grand Prix,2008-08-03,12:00:00,http://en.wikipedia.org/wiki/2008_Hungarian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
28,29,2008,12,12,European Grand Prix,2008-08-24,12:00:00,http://en.wikipedia.org/wiki/2008_European_Gra...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
29,30,2008,13,13,Belgian Grand Prix,2008-09-07,12:00:00,http://en.wikipedia.org/wiki/2008_Belgian_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
30,31,2008,14,14,Italian Grand Prix,2008-09-14,12:00:00,http://en.wikipedia.org/wiki/2008_Italian_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
31,32,2008,15,15,Singapore Grand Prix,2008-09-28,12:00:00,http://en.wikipedia.org/wiki/2008_Singapore_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
32,33,2008,16,16,Japanese Grand Prix,2008-10-12,04:30:00,http://en.wikipedia.org/wiki/2008_Japanese_Gra...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
33,34,2008,17,17,Chinese Grand Prix,2008-10-19,07:00:00,http://en.wikipedia.org/wiki/2008_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
34,35,2008,18,18,Brazilian Grand Prix,2008-11-02,17:00:00,http://en.wikipedia.org/wiki/2008_Brazilian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
35,36,2007,1,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
36,37,2007,2,2,Malaysian Grand Prix,2007-04-08,07:00:00,http://en.wikipedia.org/wiki/2007_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [100]:
df_results.head(2).T

                           0         1
resultId                   1         2
raceId                    18        18
driverId                   1         2
constructorId              1         2
number                    22         3
grid                       1         5
position                   1         2
positionText               1         2
positionOrder              1         2
points                  10.0       8.0
laps                      58        58
time             1:34:50.616    +5.478
milliseconds         5690616   5696094
fastestLap                39        41
rank                       2         3
fastestLapTime      1:27.452  1:27.739
fastestLapSpeed      218.300   217.586
statusId                   1         1

In [30]:
df_seasons.head(2).T

,0,1
year,2009,2008
url,http://en.wikipedia.org/wiki/2009_Formula_One_...,http://en.wikipedia.org/wiki/2008_Formula_One_...

In [31]:
df_sprint_results.head(2).T

                        0         1
resultId                1         2
raceId               1061      1061
driverId              830         1
constructorId           9       131
number                 33        44
grid                    2         1
position                1         2
positionText            1         2
positionOrder           1         2
points                  3         2
laps                   17        17
time            25:38.426    +1.430
milliseconds      1538426   1539856
fastestLap             14        17
fastestLapTime   1:30.013  1:29.937
statusId                1         1

In [98]:
df_status.head(100)

    statusId              status
0          1            Finished
1          2        Disqualified
2          3            Accident
3          4           Collision
4          5              Engine
..       ...                 ...
95        96            Excluded
96        97  Did not prequalify
97        98           Injection
98        99         Distributor
99       100       Driver unwell

[100 rows x 2 columns]

In [40]:
df_races[df_races['circuitId'] == 1]

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
17,18,2008,1,1,Australian Grand Prix,2008-03-16,04:30:00,http://en.wikipedia.org/wiki/2008_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
35,36,2007,1,1,Australian Grand Prix,2007-03-18,03:00:00,http://en.wikipedia.org/wiki/2007_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
54,55,2006,3,1,Australian Grand Prix,2006-04-02,14:00:00,http://en.wikipedia.org/wiki/2006_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
70,71,2005,1,1,Australian Grand Prix,2005-03-06,14:00:00,http://en.wikipedia.org/wiki/2005_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
89,90,2004,1,1,Australian Grand Prix,2004-03-07,\N,http://en.wikipedia.org/wiki/2004_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
107,108,2003,1,1,Australian Grand Prix,2003-03-09,\N,http://en.wikipedia.org/wiki/2003_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
123,124,2002,1,1,Australian Grand Prix,2002-03-03,\N,http://en.wikipedia.org/wiki/2002_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
140,141,2001,1,1,Australian Grand Prix,2001-03-04,\N,http://en.wikipedia.org/wiki/2001_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
157,158,2000,1,1,Australian Grand Prix,2000-03-12,\N,http://en.wikipedia.org/wiki/2000_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
174,175,1999,1,1,Australian Grand Prix,1999-03-07,\N,http://en.wikipedia.org/wiki/1999_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
190,191,1998,1,1,Australian Grand Prix,1998-03-08,\N,http://en.wikipedia.org/wiki/1998_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
206,207,1997,1,1,Australian Grand Prix,1997-03-09,\N,http://en.wikipedia.org/wiki/1997_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
223,224,1996,1,1,Australian Grand Prix,1996-03-10,\N,http://en.wikipedia.org/wiki/1996_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
337,338,2010,2,1,Australian Grand Prix,2010-03-28,06:00:00,http://en.wikipedia.org/wiki/2010_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
839,841,2011,1,1,Australian Grand Prix,2011-03-27,06:00:00,http://en.wikipedia.org/wiki/2011_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
858,860,2012,1,1,Australian Grand Prix,2012-03-18,06:00:00,http://en.wikipedia.org/wiki/2012_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
878,880,2013,1,1,Australian Grand Prix,2013-03-17,06:00:00,http://en.wikipedia.org/wiki/2013_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
897,900,2014,1,1,Australian Grand Prix,2014-03-16,06:00:00,http://en.wikipedia.org/wiki/2014_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
921,926,2015,1,1,Australian Grand Prix,2015-03-15,05:00:00,http://en.wikipedia.org/wiki/2015_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
935,948,2016,1,1,Australian Grand Prix,2016-03-20,05:00:00,http://en.wikipedia.org/wiki/2016_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
956,969,2017,1,1,Australian Grand Prix,2017-03-26,05:00:00,http://en.wikipedia.org/wiki/2017_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
976,989,2018,1,1,Australian Grand Prix,2018-03-25,05:10:00,http://en.wikipedia.org/wiki/2018_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
997,1010,2019,1,1,Australian Grand Prix,2019-03-17,05:10:00,http://en.wikipedia.org/wiki/2019_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1059,1076,2022,3,1,Australian Grand Prix,2022-04-10,05:00:00,http://en.wikipedia.org/wiki/2022_Australian_G...,2022-04-08,03:00:00,2022-04-08,06:00:00,2022-04-09,03:00:00,2022-04-09,06:00:00,\N,\N
1081,1100,2023,3,1,Australian Grand Prix,2023-04-02,05:00:00,https://en.wikipedia.org/wiki/2023_Australian_...,2023-03-31,01:30:00,2023-03-31,05:00:00,2023-04-01,01:30:00,2023-04-01,05:00:00,\N,\N

Observation:
------------------

1. Circuits - Typical reference data
2. Constructors - F1 Team reference data
3. Constructor result - Constructor results. 
4. Constructor standings - results
4. Drivers - Driver reference data
5. df_driver_standings: Key fields - Position (Final position in the race), Position (Season Overall Position at that point), wins(season wins)
6. df_lap_times - Race laptimes.
7. df_pit_stops - driver race pit stop stats
8. df_qualifying - race qualifying stats (q1, q2, q3)
9. df_races - Race reference data
10. df_results - Main race results
11. df_status - Drivers status in the race (finished, disqualified, etc)

Plan:
-----

Build a classification model to predict top-3 finishers of Formula 1 main race 

Per Driver-Circuit => Build Independent features=> Predict Final Position.

Independent Features:
---------------------

 - Use Driver's performance stats
    - Driver's points in his last twenty races
    - Final positions of his last twenty races.
    - Number of wins in last twenty races.
    - Finish status of his last twenty races.
    - Last twenty qualifying position.
    - historical win-loss ratio in last twenty races.
    - last twenty circuit altitudes
    - Number of top 3 finishes in last twenty races.
    - Did driver switch constructor in the last twenty races.
    
 - Constructor performance stats
    - constructor's final position in last twenty races
    - constructor's points in the last twenty races
    

Target Variable:
----------------

1. Final Position (top 3 drivers position should be marked 1, rest 0)


CV Strategy
-----------
- 6 years of history (2016-22) for training
- 1 year for testing (2023)
- use time series cross validation